* {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

body {
  background-color: #cddbe6c5;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  background-color: #2d3945;
  margin: 0;
  padding: 30px 0 30px 0;
}

h2 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

h3 {
  font-size: 0.9rem;
  opacity: 0.5;
  margin-bottom: 30px;
  padding: 0 10px;
}

h1,
h2,
h3 {
  text-align: center;
}

fieldset {
  border: none;
  margin-top: 10px;
  padding-top: 10px;
}

legend {
  font-weight: 700;
  margin-bottom: 12px;
  margin-left: 10px;
}

textarea {
  margin-top: 10px;
  width: 100%;
  height: 80px;
  padding: 12px 12px;
  border-radius: 5px;
  border: none;
  background-color: rgb(241, 240, 240);
  resize: none;
}

button {
  margin: 10px 0 10px 0;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #4ebbb5;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

input,
select {
  background-color: rgb(241, 240, 240);
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
}

input::placeholder,
textarea::placeholder {
  text-align: right;
  padding-right: 5px;
  opacity: 0.5;
  font-style: italic;
  font-size: 0.8em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  border: 1px solid rgb(38, 27, 163);
  box-shadow: 0 0 5px #719ece;
  border-radius: 5px;
  padding: 9px 16px;
  background-color: rgb(224, 224, 232);
  transition: all 0.1s ease-in;
}

textarea::placeholder {
  text-align: left;
}

input,
select input:focus,
textarea:focus,
textarea {
  width: 100%;
  padding: 10px 16px;
}

select {
  color: rgb(190, 192, 194);
}

footer {
  align-self: center;
  padding-bottom: 20px;
  opacity: 0.5;
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
}

.first,
.second {
  padding: 0 0 10px 0px;
  margin: 0 0 10px 0;
  margin: auto;
}

.container,
.inputs {
  display: flex;
  flex-direction: column;
}

.inputs {
  margin-bottom: 16px;
}

.inputs label {
  margin-bottom: 12px;
}

.inputs input,
.inputs select {
  width: 100%;
}

.spacer {
  padding: 1.3px 5px;
  margin: 0px 5px 15px 5px;
  border-bottom: 1.5px solid black;
}

.spacer.double {
  border-top: 3px solid black;
}

.first-form,
.second-form {
  width: 300px;
  margin: auto;
}

.zip input {
  width: 50%;
}

.label-description {
  margin: 25px 0 15px 0;
}

.form-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-wrapper input {
  width: fit-content;
  margin-right: 10px;
}

.topics_area {
  margin: 25px 0 15px 0;
}

/*Media queries*/

@media (min-width: 768px) {
  body {
    max-width: 768px;
    margin: auto;
  }

  h1 {
    font-size: 1rem;
    margin: 0 0 40px 0;
    padding: 20px 0 20px 0;
  }

  h3 {
    font-size: 0.75rem;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  legend {
    margin-left: 84px;
  }

  .second-form legend {
    margin-bottom: 20px;
  }

  .spacer {
    width: 600px;
    padding: 1.3px 5px;
    margin: auto;
    margin-bottom: 40px;
  }

  .first-form,
  .second-form {
    width: 600px;
    margin: auto;
  }

  .first-form label {
    width: 100%;
    max-width: 200px;
  }

  .inputs {
    flex-direction: row;
    align-items: center;
  }

  .zip {
    width: 25%;
    margin-right: auto;
  }

  .zip input {
    width: 100%;
  }
}
